@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navigation Bar */

.navigationBar{
    position: relative;
    padding: 1% 5%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: black;
}
.navigationBar .logo{
    position: relative;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 200%;
    text-decoration: none;
    color: rgb(240, 235, 235);
}
.navigationBar .logo span{
    color: #21ffe6;
}
.navigation-items {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.navigation-items a{
    text-decoration: none;
    color: #21ffe6
}
.navigation-items a:hover{
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
}


/* Main Page */
.main{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 100px;
    /* background-image: url('./images/Main-Image.jpg');
    background-repeat: no-repeat;
    background-size: cover; */


    
}
.main::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/photo-1515879218367-8466d910aaa4.avif');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 0.4;
}
/* .main::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: #21ffe6;
    z-index: -1;
    width: 5%;
    transform-origin: top;
    transform: skewX(-25deg);
} */
.main .main-background{
    position: absolute;
    top: 0;
    min-height: 100vh;
    right: 150px;
    object-fit: cover;
    opacity: 0.17;
    pointer-events: none;
}
.main .textbox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 600px;
}
.main .textbox h2{
    font-size: 40px;
    font-weight: 900;
}

/* Animation for my Daniel */
.textbox h2 span::before{
    content: "";
    animation: name 4s infinite linear;
}



@keyframes name {
    0%{
        content: "Egbogota"
    }
    100%{
        content: "Onyeka";
    }
}

.main .textbox p{
    font-size: 18px;
    margin: 5px 0 25px;
}
.main .textbox a{
    text-decoration: none;
    background: #21ffe6;
    width: 30%;
    color: black;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 7px;
}
.main .imgbox{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 50%;

}
.main .imgbox img{
    position: absolute;
    height: 90%;
    bottom: 0;
    right: 10px;
}


/* Project section style */
.project-list{
    position: relative;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 40px;
    row-gap: 40px;
    
    padding: 20px 100px;
    width: 100%;
}
.projects .project-header, .skills{
    position: relative;
    padding: 0px 100px;
    
}
.project-header h2{
    border-left: 5px solid #21ffe6;
    padding-left: 10px;
}
.project-card{
    padding: 10px;
    /* background-color: rgb(223, 221, 221); */
    border-radius: 0px 0px 10px 10px;
    height: 100%;
}
.project-card img{
    margin-bottom: 20px;
    position: relative;
    width: 100%; 
}

.project-details .textbox a{
    text-decoration: none;
    color: black;
    background: #21ffe6;
    padding: 10px;
    border-radius: 5px;

}

.project-details .textbox p:nth-child(2){
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.project-details .textbox a:hover{
    font-weight: 700;
    box-shadow: 0px 4px 10px 1px;
}

/* skills */
.skills{
    height: 100vh;
}
.skills-header h2{
    border-left: 5px solid #21ffe6;
    padding: 10px;
}
.skills .skill-image-box{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-between;
    
}
.skills-images{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px;

}
.skills-images img{
    width: 80px;
    height: 100px;
}
.skill-box{
    width: 60%;
}
.skill-container{
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
}
.skill-container p:nth-child(2){
    float: right;
    position: relative;
    top: -35px;
    padding: 0;
    margin: 0;
}
.skill{
    background: #262626;
    border: 2px solid #21ffe6;
    padding: 4px;
    border-radius: 20px;
}
.skill-level{
    position: relative;
    background: #21ffe6;
    
    height: 4px;
    background: #21ffe6;
    width: calc(var(--width, 0)*1%);
    border-radius: 1.5em;
    transition: all 2s ease-in-out;
    animation: grow 2s linear forwards;

}

.skill-level::before{
    content: "";
    color: white;
    
    display: flex;
    left: 1.5em;
    right: 1.5em;
    
}
.footer{
    display: block;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}
.footer p{
    color: white;

}

.footer p:nth-child(1), .footer p:nth-child(2){
    color: #21ffe6;
    font-size: 25px;
}

.socials{
    background: white;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
}
.socials img{
    position: relative;
    width: 32px;
}



@keyframes grow{
    from { width: 0%;}
    to{ width: calc(var(--width, 0)*1%);}    
}





/* mobileView */

@media (max-width: 768px) {
    
    .navigationBar{
    
        display: flex;
        flex-direction: column;

    }
    .navigation-items{
        display: none;
    }
    .main{
        flex-direction: column;
        overflow: hidden;
    }
    .main::before{
        width: 100%;
        /* transform: skew(-25deg) translate(50%); */
    }
    .main .main-background{
        left: 0;
    }
    .main .textbox{
        margin-top: 20px;
    }
    /* .main::before{
        width: 5%;
        transform: skew(-35deg);
    } */
    .main .imgbox img{
    bottom: 0;
    height: 100%;

}
    .skills{
        position: relative;
        height: 100%;
    }
    .skill-image-box{
       display: flex;
       background-color: #21ffe6;
       justify-content: center;
       align-items: center;
       
    }
    .skills .skill-image-box{
        flex-direction: column;
        
    }
    .skill-container p{
        color: black;
    }
    hr{
        display: block;
    }

    .project-list{

        display: flex;
        flex-direction: column;
    }
    .projects .project-header{
        margin-top: 200px;
    }
}

