@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

h2{
    font-size: 25;
}
body{
<<<<<<< HEAD
    background: rgb(15, 5, 5);
=======
    background-color: dark;
>>>>>>> d50be2b37a229fac06b7750f03bb99b197909496
}

/* Navigation Bar */

.navigationBar{
    position: relative;
    padding: 1% 5%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: black;
}
.navigationBar .logo{
    position: relative;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 200%;
    text-decoration: none;
    color: rgb(240, 235, 235);
}
.navigationBar .logo span{
    color: #21ffe6;
}
.navigation-items {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.navigation-items a{
    text-decoration: none;
    color: #21ffe6
}
.navigation-items a:hover{
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
}


/* Main Page */
.main{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 50px;
    /* background-image: url('./images/Main-Image.jpg');
    background-repeat: no-repeat;
    background-size: cover; */


    
}
.main::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/photo-1515879218367-8466d910aaa4.avif');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 0.4;
}
/* .main::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: #21ffe6;
    z-index: -1;
    width: 5%;
    transform-origin: top;
    transform: skewX(-25deg);
} */
.main .main-background{
    position: absolute;
    top: 0;
    min-height: 100vh;
    right: 150px;
    object-fit: cover;
    opacity: 0.17;
    pointer-events: none;
}
.main .textbox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 70px;
    max-width: 600px;
}
.main .textbox h2{
    font-size: 25px;
    font-weight: bold;
}

/* Animation for my Daniel */
.textbox h2 span::before{
    content: "";
    font-size: 25px;
    animation: name 4s infinite linear;
}



@keyframes name {
    0%{
        content: "Egbogota"
    }
    100%{
        content: "Onyeka";
    }
}

.main .textbox p{
    font-size: 15px;
    margin: 5px 0 25px;
}
.main .textbox a{
    text-decoration: none;
    background: #21ffe6;
    width: 40%;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    padding: 5px;
    border-radius: 2px;
}
.main .imgbox{
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;

}
.main .imgbox img{
    position: absolute;
    height: 90%;
    bottom: 0;
    right: 10px;
}


/* Project section style */
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.projects {
    
    padding: 0px 50px;
    
}
.project-header{
    border-left: 5px solid #21ffe6;
    padding: 5px;
}
.project-card{
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;

}
.project-card img{
    margin-bottom: 20px;
    position: relative;
    width: 100%; 
}

.project-details .textbox a{
    text-decoration: none;
    color: black;
    background: #21ffe6;
    padding: 10px;
    border-radius: 5px;

}

.project-details .textbox p:nth-child(2){
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.project-details .textbox a:hover{
    font-weight: 700;
    box-shadow: 0px 4px 10px 1px;
}




/* skills */
.skills{
    
    padding: 0px 50px;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    }
.skills-header h2{
    padding: 10px;
    width: 100%;
    border-left: 5px solid #21ffe6;
}


.skill-image-box {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    
}

.skills-images {
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.skills-images img{
    width: 30%;
}


.skill-box{
    width: 100%;
    height: 100%;
}
.skill-container{
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
}
.skill-container p:nth-child(2){
    float: right;
    position: relative;
    top: -35px;
    padding: 0;
    margin: 0;
}
.skill{
    background: #262626;
    border: 2px solid #21ffe6;
    padding: 4px;
    border-radius: 20px;
}
.skill-level{
    position: relative;
    background: #21ffe6;
    
    height: 4px;
    background: #21ffe6;
    width: calc(var(--width, 0)*1%);
    border-radius: 1.5em;
    transition: all 2s ease-in-out;
    animation: grow 2s linear forwards;

}

.skill-level::before{
    content: "";
    color: white;
    display: flex;
    left: 1.5em;
    right: 1.5em;
    
}
.footer{
    display: block;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}
.footer p{
    color: white;
    text-align: center;
}

.footer p:nth-child(1), .footer p:nth-child(2){
    color: #21ffe6;
}

.socials{
    background: white;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.socials img{
    
    position: relative;
    width: 32px;
    transition: border-top 0.2s ease-in-out;
}

.socials img:hover{
    border-top: 3px solid #21ffe6;
}



@keyframes grow{
    from { width: 0%;}
    to{ width: calc(var(--width, 0)*1%);}    
}





/* mobileView */

@media (max-width: 768px) {
    
    .navigationBar{
    
        display: flex;
        flex-direction: column;

    }
    .navigation-items{
        display: none;
    }
    .main{
        flex-direction: column;
        overflow: hidden;
    }
    .main::before{
        width: 100%;
        /* transform: skew(-25deg) translate(50%); */
    }
    .main .main-background{
        left: 0;
    }
    .main .textbox{
        margin-top: 20px;
    }
    /* .main::before{
        width: 5%;
        transform: skew(-35deg);
    } */
    .main .imgbox img{
    bottom: 0;
    height: 100%;
 
}
    .project-list{
    display: flex;
    flex-direction: column;

}
}